@{
    ViewData["Title"] = "Home Page";
}

<div class="card">

    <div style="background-color:#F0ECE3 " class="card-header">
        <h2>Kitap Dükkanına Hoşgeldiniz</h2>
    </div>

    <div class="card-body">
        <a asp-controller="book" asp-action="addbook" class="btn btn-primary">Kitap kayıt etmek için tıklayınız</a>
    </div>


</div>
