
<div> 

    <div class="alert alert-success">
        <h2>Kitap Başarıyla Eklendi</h2>
        <a asp-action="BookList" class="btn btn-primary mt-3" >Diğer Kitapları Görüntülemek için tıklayın</a>
    </div>

</div>